.content-none {
  &:after {
    display: none !important;
  }

  &:before {
    display: none !important;
  }
}

.icons-center {
  display: inline-flex;
  align-items: center;
}

.flex-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

@include media-breakpoint-down(md) {
  .email-offcanvas {
    --#{$prefix}offcanvas-width: 100%;
  }
}

.email-offcanvas {
  --#{$prefix}offcanvas-width: 780px;
}

.account-pages .auth-card:after{
  display: none !important;
}

.account-pages .auth-card::before{
  display: none !important;
}

.authentication-bg {
    background: url(/src/assets/images/bg-overlay.svg) #282f36;
    padding-bottom: 0;
}

.logo-box .logo-lg {
    margin-left: 0px;
    object-fit: contain;
    height: auto;
}